.about--txt {
  padding: 3.5rem 2rem;
}

.about--img {
  overflow: hidden;
}

.about--img img {
  object-position: -30px;
}

.about--txt h3 {
  text-transform: uppercase;
  font-family: var(--boldfont);
  font-size: 16px;
  letter-spacing: 4px;
}

.about--txt p {
  font-family: var(--midfont);
  font-size: 11px;
  color: var(--gray);
  line-height: 1.8;
  margin-top: 1rem;
}

@media only screen and (max-width: 330px) {
  .about--img img {
    object-position: -60px;
  }
}
@media only screen and (min-width: 700px) {
  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }
  .about--img {
    grid-row: 1;
  }
  .about--img img {
    object-position: 0;
  }
  .about--img_left {
    grid-column: 1/2;
  }
  .about--img_right {
    grid-column: 2/-1;
  }
  .about--txt {
    grid-column: 1/-1;
    grid-row: 2;
    padding: 4.5rem;
  }

  .about--txt h3 {
    font-size: 16px;
  }
  .about--txt p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1023px) {
  .about--img {
    height: 300px;
  }
  .about--img img {
    object-position: 0;
    object-fit: cover;
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
}
