.header--container {
  position: absolute;
  width: 100%;
  top: 25px;
  z-index: 10;
}
.header--container h1 {
  font-size: 28px;
  text-align: center;
  font-family: var(--semifont);
  color: var(--white);
}

.nav {
  position: absolute;
  width: 100%;
  top: 0;
}

.nav--btn {
  background: none;
  border: none;
  outline: none;
}

.nav--open {
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 10;
  cursor: pointer;

  width: 40px;
  height: 40px;
}

.nav--overlay {
  top: 85px;
  left: 0;
  position: absolute;
  z-index: 500;

  height: 100vh;
  width: 100%;

  background: var(--darkgray);
  opacity: 0.75;
}

.nav--menu {
  transform: translateX(-100%);
  transition: all ease 0.5s;

  position: absolute;
  top: -25px;

  width: 100%;
  display: flex;
  align-items: center;
  height: 85px;
  background: var(--white);
  z-index: 1000;
}

.nav--close {
  width: 15%;
}

.nav--menu--list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
}

.nav--item {
  font-size: 14px;
  color: var(--black);
  font-family: var(--boldfont);
}

.nav--menu.open {
  transform: translateX(0%);
}

@media only screen and (max-width: 330px) {
  .nav--menu {
    padding: 0 0.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .header--container {
    display: flex;
    align-items: center;
    padding: 0 3rem;
  }
  .header--container h1 {
    margin-right: 50px;
  }
  .nav--btn,
  .nav--overlay {
    display: none;
  }
  .nav {
    position: relative;
    width: auto;
  }
  .nav--menu {
    position: relative;
    top: 0;
    transform: translateX(0%);
    background: transparent;
    width: auto;
    height: auto;
  }
  .nav--menu--list {
    width: 300px;
  }
  .nav--item {
    color: var(--white);
    margin-top: 4px;
    font-family: var(--semifont);
    cursor: pointer;
    position: relative;
  }
  .nav--item::after {
    content: '';
    opacity: 0;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 20px;
    background: var(--white);
    transition: all ease 0.2s;
  }
  .nav--item:hover::after {
    opacity: 1;
  }
}
