.header--container {
  position: absolute;
  width: 100%;
  top: 25px;
  z-index: 10;
}
.header--container h1 {
  font-size: 28px;
  text-align: center;
  font-family: var(--semifont);
  color: var(--white);
}
